django
djangorestframework
djangorestframework-simplejwt
django-cors-headers
django-filter
drf-spectacular
psycopg2-binary
pillow
redis
celery
django-celery-results
channels
daphne
whitenoise
python-dotenv
django-tenants
django-redis
channels-redis
gunicorn
django-constance
requests
dj-database-url
psutil
